#story {
  display: none;
}

.bg-light {
  background-color: #fff;
  color: #333;
}

.btn-dark:hover {
  color: #ccc;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.btn-light {
  background-color: #ccc;
  color: #333;
}

.btn-dark {
  background-color: #333;
  color: #ccc;
}